.book-list-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.bookInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titleBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: #fff;
}

.titleText {
  width: 240px;
  height: 37px;
  margin: 6px 47px 2px 0;
  color: #0290ff;
  font: bold 30px/30px 'Montserrat', sans-serif, monospace;
}

.booksTitleText {
  width: 59px;
  height: 16px;
  margin: 18px 41px 11px 0;
  font: normal 13px/13px 'Montserrat', sans-serif, monospace;
  letter-spacing: 1.9px;
  color: #121212;
}
